:root {
    --color-700: rgb(37, 29, 58);
    --color-500: rgb(42, 37, 80);
    --color-300: rgb(224, 77, 1);
    --color-200: rgb(255, 119, 0);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-700);
    color: var(--color-200);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header, footer {
    text-align: center;
}

main {    
    min-width: 23.4375rem;
    max-width: 45rem;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input, select, textarea {
    display: block;
    width: 100%;
}

* + * {
    margin-bottom: 0.5rem;
}

/* label {
    padding: 0.5rem;
} */